<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>firstName</servlet-name>
    <servlet-class>ru.lanit.mo.web.controller.firstName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstName</servlet-name>
    <url-pattern>/firstName</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>lastName</servlet-name>
    <servlet-class>ru.lanit.mo.web.controller.lastName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lastName</servlet-name>
    <url-pattern>/lastName</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>patronymic</servlet-name>
    <servlet-class>ru.lanit.mo.web.controller.patronymic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>patronymic</servlet-name>
    <url-pattern>/patronymic</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>saveItAll</servlet-name>
    <servlet-class>ru.lanit.mo.web.controller.saveItAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveItAll</servlet-name>
    <url-pattern>/aLittleBitLeft</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>whoAmI</servlet-name>
    <servlet-class>ru.lanit.mo.web.controller.whoAmI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>whoAmI</servlet-name>
    <url-pattern>/youAre</url-pattern>
  </servlet-mapping>
  
</web-app>
