<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>saveMouse</servlet-name>
    <servlet-class>ru.lanit.mo.web.controller.tabulate</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>selectMouse</servlet-name>
    <servlet-class>ru.lanit.mo.web.controller.dataExport</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>saveMouse</servlet-name>
    <url-pattern>/tabulate</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>selectMouse</servlet-name>
    <url-pattern>/selectMouse</url-pattern>
  </servlet-mapping>


</web-app>
